.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px 20px;
    text-align: center;
    color: aliceblue;
}

body {
    background-color: rgb(25, 125, 92);
}

span {
    color: blueviolet;
}